/* General styling */
* {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, rgba(85, 85, 85, 1), rgba(0, 0, 0, 1));
    display: grid;
    grid-template-rows: 300px auto;
}

.title {
    font-size: 70px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #C5C5C5;
}

.line {
    background-color: #CD9A56;
    height: 3px;
    margin: 0px 20% 80px 20%;
}

.heading {
    font-size: 50px;
    color: #C5C5C5;
    margin-bottom: 140px;
}

/* Buttons */
.button-area {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.button-style {
    font-size: 30px;
    width: 240px;
    height: 64px;
    background-image: linear-gradient(to bottom, rgba(228, 182, 115, 1), rgba(179, 122, 53, 1));
    border: none;
    border-radius: 5px;
}

.button-final {
    font-size: 30px;
    color: white;
    font-weight: normal;
    width: 400px;
    height: 100px;
    background: none;
    padding: 10px;
    border: 3px solid #CD9A56;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

/* Display none */
.display-none {
    display: none;
}

/* Mobile response media query */
@media screen and (max-width: 800px) {
    body {
        display: grid;
        grid-template-rows: 340px auto;
    }
    
    .title {
        font-size: 50px;
        margin: 70px 12% 60px 12%;
    }
    
    .line {
        margin: 0px 10%;
    }
    
    .heading {
        font-size: 40px;
        margin-bottom: 80px;
    }
    
    .button-area {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .button-final {
        font-size: 25px;
        width: 300px;
    }
}