/* General styling */
* {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, rgba(85, 85, 85, 1), rgba(0, 0, 0, 1));
    display: grid;
    grid-template-rows: 300px auto;
}

.title {
    font-size: 70px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #C5C5C5;
}

.line {
    background-color: #CD9A56;
    height: 3px;
    margin: 0px 20% 80px 20%;
}

.heading {
    font-size: 50px;
    color: #C5C5C5;
    padding-bottom: 5px;
}

.heading-underline {
    border-bottom: 3px solid #CD9A56;
    display: inline-block;
}

#wrapper {
    display: inline-block;
    margin: 0 auto;
    transition: 0.1s;
}

/* Ingredients box */
.ingred-box {
    font-size: 20px;
    color: #C5C5C5;
    line-height: 30px;
    white-space: pre-line;
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    transition: 1s;
}

.box-collapse {
    max-height: 0px;
} 

.box-expand {
    max-height: 210px;
}

/* Buttons */
.button-area {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 140px;
    align-self: start;
}

.button-style {
    font-size: 30px;
    line-height: 64px;
    width: 240px;
    height: 64px;
    background-image: linear-gradient(to bottom, rgba(228, 182, 115, 1), rgba(179, 122, 53, 1));
    border: none;
    border-radius: 5px;
    overflow: hidden;
}

.button-final {
    font-size: 30px;
    color: white;
    font-weight: normal;
    width: 400px;
    height: 100px;
    background: none;
    padding: 10px;
    border: 3px solid #CD9A56;
    border-radius: 5px;
    transition: 0.1s;
}

button:hover,
.heading:hover {
    cursor: pointer;
}

/* Animations */
.text-button {
    transition: 0.2s;
}

.text-animate-25 {
    transform: translateY(-25%);
}

.text-animate-50 {
    transform: translateY(-50%);
}

.text-animate-75 {
    transform: translateY(-75%);
}

.text-animate-100 {
    transform: translateY(-100%);
}

.option-animate:active,
.button-style:active {
    background-image: none;
    background-color: rgba(179, 122, 53, 1);
    transform: scale(0.9);
    font-size: 25px;
}

.button-final:active {
    font-size: 27px;
    background-color: rgb(90, 90, 90);
    transform: scale(0.9);
    border-radius: 50px;
    transition: 0.1s;
}

#wrapper:active {
    transform: scale(0.8);
    transition: 0.1s;
}

/* Change display classes */
.display-none {
    display: none;
}

.grid-collapse {
    display: grid;
    grid-template-rows: 0px auto;
}

.main-desktop-grid {
    display: grid;
    grid-template-rows: 358px auto;
    align-items: end;
}

/* Mobile response media query */
@media screen and (max-width: 800px) {
    body {
        display: grid;
        grid-template-rows: 340px auto;
    }

    main {
        /* display: grid; */
    }
    
    .title {
        font-size: 50px;
        margin: 70px 12% 60px 12%;
    }
    
    .line {
        margin: 0px 10%;
    }
    
    .heading {
        font-size: 40px;
    }
    
    .button-area {
        flex-direction: column;
        align-items: center;
        gap: 80px;
        margin-top: 80px;
    }

    .button-final {
        font-size: 25px;
        width: 300px;
    }
}